@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-800 bg-primary-50 dark:bg-dark-bg dark:text-dark-text transition-colors duration-300;
  }
}